Source: tkellem
Section: net
Priority: extra
Maintainer: paul cannon <pik@debian.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: https://github.com/codekitchen/tkellem

Package: tkellem
Architecture: all
Depends: ${misc:Depends}, ruby, rubygems, libeventmachine-ruby
Description: IRC bouncer with multi-client support
 tkellem is an IRC bouncer, a proxy that keeps you permanently logged on to an
 IRC server and stores all messages so that when your client next connects, you
 can see the backlog of what happened while you were gone.
 .
 tkellem supports multiple device-independent backlogs, and connecting to
 multiple IRC servers all from the same process.
